::-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #ccc; opacity:1; font-size: .8rem;
  }

  ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #ccc;opacity:1;font-size: .8rem;
  }

  input:-ms-input-placeholder{
    color: #ccc;opacity:1;font-size: .8rem;
  }

  input::-webkit-input-placeholder{
       color: #ccc;opacity:1;font-size: .8rem;
  }

/* 导航开始 */
.cnt .nav{
    z-index: 100;
    position: relative;
    margin-top: 3rem;
    height:3rem;
    display:flex;
    justify-content:center;
    align-items:center;  
    color:#555;
    position:fixed;
    left:0px;
    top:0px;
    width:100%;
    padding: 0 2rem;
    box-sizing: border-box;
    /* border-bottom: 3px solid #f2f2f2; */
    box-shadow: 0 3px 3px rgba(235, 235, 235,.8);
    background:#ffffff url("../images/返回 (2).png") no-repeat .2rem center;
    background-size: 1.2rem;
  }
  .cnt .nav .searchTitle{
    height:3rem;
    line-height: 3rem;   
    font-size: 1rem;
  }
  .cnt .nav .goback{
      display: block;
      height:3rem;
      width: 2rem;
      /* border: 1px solid red; */
      position: absolute;
      left: 0;
  }
/* 导航结束 */
/* 内容开始 */
.content{
    margin-top: 6rem;
}
/* 搜索开始 */
.content .searchpart{
    width: 100%;
    height: 3rem;
    line-height: 3rem;
    background: #fbfbfb;
    text-align: center;
}
.searchurl{
    width: 60%;
    padding:.4rem 0;
    padding-left: 1.6rem;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    background:white url("../images/搜索 (5).png") no-repeat .3rem center;
    background-size: 1.2rem;
    margin-right: .4rem;
}
#searchbtn{
    padding:.6rem 1rem;
    border: none;
    background: #dfdfdf;
    border-radius: 3px;
    color: #999;
    font-size: .8rem;
}

/* 音乐列表开始 */
/* .hot{
    height: 1.5rem;
    line-height: 1.5rem;
    color: rgb(234, 0, 255);
    font-size: .48rem;
    padding-left: .4rem;
    border-bottom: 2px solid #e9e9e9;    
} */
.hot{
    height: 1.6rem;
    line-height: 1.6rem;
    color: #999;
    font-size: .7rem;
    padding-left: .8rem;
    background:  #e9e9e9;    
}
.music{
    width: 100%;
    position: relative;
    /* margin-top: 4.5rem; */
    height:4rem;
    display:flex;
    justify-content:space-between;
    align-items:center;  
    vertical-align: middle;
    color:#555;
    width:100%;
    padding-right:  2.4rem ;
    padding-left: .8rem;
    box-sizing: border-box;
    border-bottom: 1px solid #e9e9e9;
    background:#ffffff url("../images/下载.png") no-repeat 98% center;
    background-size: 1.6rem;
  }
.music .filename{
    /* display: flex;
    flex-wrap: wrap; */
    /* vertical-align: middle; */
    /* width: 88%; */
    /* height:.6rem;
    line-height: .6rem;    */
    font-size: .8rem;
  }
.music .download{    
      display: block;
      height: 3rem;
      width: 2.2rem;
      /* border: 1px solid red; */
      position: absolute;
      right: 0;
  }
/* 内容结束 */
/* 加载开始 */
#loading{
    height: 2.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background:#ebebeb;
    overflow: hidden;
    display: none;
}
#loading img{
    width: 20rem;
    /* margin-top: .2rem; */
}
/* 加载结束 */


/* 播放页开始 */
.cnt{
    /* display: none; */
}
.playPage{
    display: none;  
}
/* 背景遮罩 */
.bgCover{
    /* display: none; */
    overflow: hidden;
    z-index: 110;
    width: 100%;
    height: 91.5%;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    bottom: 0;
    left: 0;
}
#blur{
    position: fixed;
    bottom: 0;
    left: 0;
    filter:blur(10px);
    -webkit-filter:blur(10px);
    -moz-filter:blur(10px);
    -ms-filter:blur(10px);
    -o-filter:blur(10px);
    }
/* 背景遮罩 */
.songnav{
    z-index: 120;
    position: relative;
    margin-top: 3rem;
    height:3rem;
    display:flex;
    justify-content:center;
    align-items:center;  
    color:#555;
    position:fixed;
    left:0px;
    top:0px;
    width:100%;
    padding: 0 2rem;
    box-sizing: border-box;
    /* border: 1px solid red; */

    background: url("../images/返回 (3).png") no-repeat .4rem center;
    background-size: 1.2rem;
  }
.songnav .songTitle{
    width: 10rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height:3rem;
    line-height: 3rem;   
    font-size: 1rem;
    color: white;
  }
.songnav .back{
      display: block;
      height: 3rem;
      width: 2rem;
      /* border: 1px solid red; */
      position: absolute;
      left: 0;
  }

/* 播放区图片 */
.playPic{
    z-index: 130;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10rem;
    left: 0;
    top: 7rem;
    /* border: 1px solid red; */
}
.playPic .pic{

    overflow: hidden;
    width: 10rem;
    height: 10rem;
    /* border-radius: 50%; */
    /* border: 1px solid red; */
}

@keyframes record{
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
    }
    
.record{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    transform: rotate(360deg);
    animation: rotation 3s linear infinite;
}
  /* 歌词 */
.playLrc{  
    z-index: 130;
    width: 100%;
    position: relative;
    top: 17rem; 
    width: 100%;
    text-align: center;
    height:4rem; 

    /* border: 1px solid red; */
}
.playLrc p{
    height: 2rem;
    font-size: .9rem;
    flex-direction: column; 
}
.playLrc p:first-child{
    color:#dcdcdc; 
}
.playLrc p:last-child{
    color:#c27ac2; 
}
/* 进度条 */
.timeWrap{
    z-index: 130;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 0;
    top: 22rem; 
    width: 100%;
    height:2rem;
    padding: .6rem;
    box-sizing: border-box; 
    /* border: 1px solid red;    */
}
.timeshow,.time{
    flex: 1;
    color: #dcdcdc;
}
.timeshow{
    display: flex;
    align-items: flex-end;
    margin-left: .2rem;
}
.progress-wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 8;
    height: .2rem;
    margin: 0 .6rem;
    background: #6c6b70;
    position: relative;
    z-index: 130
}
.progress-bar {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}
.preview-progress {
    background: #6c6b70;
}
.progress, .progress span {
    background: #fd31fd;
}
.progress span {
    position: absolute;
    top: 50%;
    /* right: -.4rem; */
    margin-top: -.3rem;
    width: .6rem;
    height: .6rem;
    display: block;
    border-radius: 100%;
}
.preview-progress, .progress {
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 0;
    height: 100%
}
.control{
    z-index: 130;
    display: flex;
    position: absolute;
    left: 0;
    top: 24rem; 
    width: 70%;
    left: 15%;
    height:4rem; 
    /* border: 1px solid red;    */
}
.control div{
    flex: 1;
    /* border: 1px solid red; */
}
.play_prev{
    background: url(../images/play_prev.png) no-repeat center center;
    background-size: 2.4rem;
}
.play_btn{
    display: flex;
    justify-content:center;
    align-items: center;
}
.play_btn img{
    width: 80%;
}
/* .play_btn{
    background: url(../images/play_pause.png) no-repeat center center;
    background-size: 1.5rem;
} */
.play_next{
    background: url(../images/play_next.png) no-repeat center center;
    background-size: 2.4rem;
}
.downBtn{
    z-index: 130;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 28.4rem; 
    width: 100%;
    height:2rem; 
    /* border: 1px solid red;    */
}
.downBtn input{
    color: white;
    font-size: .9rem;
    background: linear-gradient(to right,rgb(255, 10, 214),rgb(214, 10, 255));
    border: none;
    padding: .6rem 3rem;
    border-radius: 10px;
}
/* 播放页结束 */


/* 弹框开始 */
.successAlert{
    z-index: 111;
    display: none; 
    font-size: .9rem;   
    color:#333;
    position: fixed;
    left:10%;
    top:35%;
    width: 80%;
    background: rgb(255, 255, 255);
    border-top: 3px solid rgb(255, 18, 235);
    border-radius: 10px;
    margin:0px auto;
  }
  .successAlert h3{
    font-size: .9rem;
    text-align: center;
    padding: 0 5%;
    padding-top: 5%;
  }
  .successAlert p{
    font-size: .9rem;
    text-align: center;
    padding: 0 5%;
    padding-top: 1%;
    padding-bottom: 5%;
    border-bottom: 1px solid #e2e2e2;
  }
  .successAlert input{
    background: rgb(255, 255, 255);
    border:none;    
    height:2.5rem;
    line-height:2.5rem;
    text-align: center;
  }

  .successAlert .confirm{
    font-size: .9rem;
    width:100%;
    color:rgb(247, 16, 255);
    border-radius: 0 0 10px 10px;
  }
  .successAlert .confirm:hover{
      background: rgb(255, 8, 243);
      color: white;
  }
  /* 弹框结束 */